/vendor
/node_modules
/public/hot
/public/storage

public/backend/images/users/*
public/dashboard/images/*
public/images/merchant/*

/storage/*.key
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/js/build_component/*
public/js/backend_app.js
public/js/frontend_app.js
public/css/backend_app.css
public/css/backend.json
public/mix-manifest.json
package-lock.json
.env
/storage/app/public/*
/storage/app/backend/*
/storage/app/reports/PDF/*

!.gitkeep

composer.lock
