// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~admin-lte/dist/css/adminlte.css';
.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.order_item_details_table thead tr th {
    background: #538ED3;
    color: #fff;
    text-align: center;
}

.cl_custom_color {
    text-align: center;
    background: #D8E3F0;
    /* border: 1px solid #999!important; */
    vertical-align: middle !important;
}

.cl_custom_color_extra,
.cl_custom_color_active {
    text-align: center;
    background: #538ED3;
    color: #fff;
    /* border: 1px solid #999!important; */
    vertical-align: middle !important;
}


.custom-file-upload {
    cursor: pointer;
    background: #538ED3;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
}

.orderDetailTable {
    background: #fff;
}

.orderDetailTable tr td {
    border: 1px solid #999999;
}

.orderTopDetailTable tr td {
    border: 1px solid #999999;
}
.loggedUserName{
    cursor: default;
}
.topHeaderInputFieldBtn {
    width: 66%;
    float: left;
    margin-right: 5px;
}
.order_item_details_table tbody tr:hover {background-color:#f5f5f5;}
.srchBtn {
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 30px;
}
.customDataTable thead tr th,
.customDataTable thead tr td
{
    background:#538ED3;
    color:#fff;
    vertical-align: middle;
    text-align: center;
}
fieldset legend {
    background: #538ED3;
    padding: 4px 15px;
    color: #fff;
    font-size: 22px;
}
